[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "thmemes/hbstack"]
	path = thmemes/hbstack
	url = https://github.com/hbstack/theme.git
[submodule "theme"]
	path = theme
	url = https://github.com/hbstack/theme.git
[submodule "themes/hbstack"]
	path = themes/hbstack
	url = https://github.com/hbstack/theme.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
